doctype html
html
  head
  title #{title}
  script(
      type="text/javascript"
      src="views/index.js"
  )

  body
    input(id='path' name='path' placeholder='path' value='E:\\node.js\\file-demo')
    input(id='level' name='level' placeholder='level')
    input(id='mtime' name='mtime' placeholder='modifiy time')
    input(id='name' name='name' placeholder='name')
    input(id='size' name='size' placeholder='size')
    input(id='text' name='text' placeholder='text')
    button(onclick='searchFile()') Search File
    //a(href='/result') Search File